services:
  postgres:
    image: postgres:16-alpine
    container_name: finances_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: finances_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:


